{% extends "base.html" %}

{% block main %}

<div class="card mb-3 mx-auto">
  <div class="row g-0">

    <div class="col-md-6">
      <img id="property-image" class="img-fluid rounded-start" src="{{ url_for('get_photo', filename=propertyid.photoName) }}">
    </div>

    <div class="col-md-6">
      <div class="card-body pt-3">
        <div id="property-title">
          <h3 class="card-title pt-4">{{ propertyid.propertyTitle }}</h3>
        </div>

        <div id="price-type">
            <li id="pill-btn-price" class="card-text pl-3 pr-3 rounded-pill btn btn-success">{{ propertyid.price }}</li>
            <li id="pill-btn-property-type" class="card-text pl-3 pr-3 rounded-pill btn btn-warning">{{ propertyid.propertyType }}</li>
        </div>
          
        <div id="descript"><p class="card-text">{{ propertyid.description }}</p></div>
        <ul id="bedrooms-bathrooms">
          <li id="bedrms">
            <img class="card-text mb-2" id="photo-location" src="{{ url_for('static', filename='/css/bed.png') }}"/>
            <p id="photo-location-2" class="card-text">{{ propertyid.bedrooms }} Bedrooms</p>
          </li>
          <li>
            <img class="card-text mb-1" id="photo-location" src="{{ url_for('static', filename='/css/shower.png') }}"/>
            <p id="photo-location-2" class="card-text">{{ propertyid.bathrooms }} Bathrooms</p>
          </li>
        </ul>
          
        <div id="locationn">
          <img class="card-text mb-1" id="photo-location-2" src="{{ url_for('static', filename='/css/location-v2.png') }}" />
          <p class="card-text mt-3" id="photo-location-2">{{ propertyid.location }}</p>
        </div>

        <div><button id="email-realter" href="#">Email Realter</button></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}